#topModal {
  width: 100%;
  height: 42px;
  background: #5f0080;
}
#topModal .container {
  width: 100%;
  max-width: 1050px;
  height: 100%;
  margin: 0 auto;
}
#topModal .container .content {
  width: 100%;
  height: 100%;
  position: relative;
}
#topModal .container .content a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  z-index: 1;
  position: relative;
}
#topModal .container .content a em {
  font-weight: 400;
}
#topModal .container .content a strong {
  font-weight: 700;
  margin: 0 5px;
}
#topModal .container .content button {
  position: absolute;
  right: 0;
  top: 0;
  width: 42px;
  height: 42px;
  z-index: 2;
  background: url(../../../public/images/intro/icon_top_modal_close.svg) no-repeat 50% 50%;
  border: 0;
  background-color: none;
  cursor: pointer;
}